<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Crime Data</a>

**NOTE**: For the learners who are encountering issues with loading from .csv in DB2 on Firefox, you can download the .txt files and load the data with those:

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.txt?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.txt?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.txt?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR.

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next".

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [5]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
!pip install ipython-sql

Collecting ibm_db==3.1.0
  Downloading ibm_db-3.1.0.tar.gz (797 kB)
     |████████████████████████████████| 797 kB 11.7 MB/s eta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Collecting ibm_db_sa==0.3.3
  Downloading ibm_db_sa-0.3.3.tar.gz (24 kB)
Collecting sqlalchemy>=0.7.3
  Downloading SQLAlchemy-1.4.41-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 28.4 MB/s eta 0:00:01
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.3.post0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (154 kB)
     |████████████████████████████████| 154 kB 30.3 MB/s eta 0:00:01
Building wheels for collected packages: ibm-db, ibm-db-sa
  Building wheel for ibm-db (PEP 517) ... done
  Created wheel for ibm-db: filename=ibm_db-3.1.0-cp39-cp39-linux_x86_64.whl size=267214 sha256=757d028f093dc640aba86552fd416a0dec6cf75e78405176e815380691d4f38c
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/0a/dd/10/4a9ad59949e39786d729813e4bce24ccf2263c6d60a62de2f2
  Building wheel for ibm-db-sa (setup.py) ... done
  Created wheel for ibm-db-sa: filename=ibm_db_sa-0.3.3-py3-none-any.whl size=27427 sha256=ceb4664b42afad940adf0c7f020e33d46ab3f313d4e38629ba2386eb86ac6e88
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/8f/98/0c/930c68279890092297e12d4cc20e95613ddab15af6753d92bb
Successfully built ibm-db ibm-db-sa
Installing collected packages: greenlet, sqlalchemy, ibm-db-sa, ibm-db
  Attempting uninstall: greenlet
    Found existing installation: greenlet 1.1.1
    Uninstalling greenlet-1.1.1:
      Successfully uninstalled greenlet-1.1.1
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.27
    Uninstalling SQLAlchemy-1.4.27:
      Successfully uninstalled SQLAlchemy-1.4.27
  Attempting uninstall: ibm-db-sa
    Found existing installation: ibm-db-sa 0.3.7
    Uninstalling ibm-db-sa-0.3.7:
      Successfully uninstalled ibm-db-sa-0.3.7
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.1.0
    Uninstalling ibm-db-3.1.0:
      Successfully uninstalled ibm-db-3.1.0
Successfully installed greenlet-1.1.3.post0 ibm-db-3.1.0 ibm-db-sa-0.3.3 sqlalchemy-1.4.41
Requirement already satisfied: ipython-sql in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (0.4.1)
Requirement already satisfied: six in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (1.4.41)
Requirement already satisfied: prettytable<1 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.3.post0)

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/details.png">

In [8]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://qzg26937:bgjPkIxaRjSaG0dM@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb;security=SSL;

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [9]:
#Rows in Crime Table
%sql SELECT COUNT(*) AS TOTAL_COUNT \
     FROM CHICAGO_CRIME_DATA

 * ibm_db_sa://qzg26937:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb;security=SSL;
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [10]:
%sql select community_area_name from CENSUS_DATA where per_capita_income < 11000

 * ibm_db_sa://qzg26937:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb;security=SSL;
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [11]:
%sql select case_number from CHICAGO_CRIME_DATA where description like '%MINOR%'

 * ibm_db_sa://qzg26937:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb;security=SSL;
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [12]:
%sql select * from CHICAGO_CRIME_DATA where primary_type like '%KIDNAP%' and description like '%CHILD%'

 * ibm_db_sa://qzg26937:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb;security=SSL;
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [13]:
%sql select distinct(primary_type) from CHICAGO_CRIME_DATA where location_description like 'SCHOOL%'

 * ibm_db_sa://qzg26937:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb;security=SSL;
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

### Problem 6

##### List the average safety score for each type of school.

In [21]:
%%sql select "Elementary, Middle, or High School" ,AVG(safety_score) as Average_safety_score
from CHICAGO_PUBLIC_SCHOOLS
group by "Elementary, Middle, or High School"

 * ibm_db_sa://qzg26937:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb;security=SSL;
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

In [20]:
%sql select safety_score from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://qzg26937:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb;security=SSL;
Done.

[(99,),
 (54,),
 (61,),
 (56,),
 (49,),
 (66,),
 (88,),
 (67,),
 (70,),
 (43,),
 (99,),
 (49,),
 (73,),
 (31,),
 (28,),
 (19,),
 (37,),
 (46,),
 (52,),
 (45,),
 (81,),
 (38,),
 (23,),
 (57,),
 (48,),
 (86,),
 (31,),
 (99,),
 (59,),
 (32,),
 (None,),
 (33,),
 (27,),
 (36,),
 (47,),
 (87,),
 (None,),
 (15,),
 (48,),
 (99,),
 (38,),
 (23,),
 (38,),
 (32,),
 (None,),
 (75,),
 (46,),
 (36,),
 (27,),
 (50,),
 (39,),
 (45,),
 (None,),
 (63,),
 (27,),
 (55,),
 (41,),
 (61,),
 (51,),
 (58,),
 (48,),
 (68,),
 (54,),
 (35,),
 (26,),
 (54,),
 (59,),
 (42,),
 (44,),
 (40,),
 (32,),
 (36,),
 (53,),
 (25,),
 (26,),
 (58,),
 (16,),
 (20,),
 (55,),
 (41,),
 (24,),
 (66,),
 (58,),
 (87,),
 (32,),
 (27,),
 (78,),
 (36,),
 (66,),
 (25,),
 (36,),
 (60,),
 (59,),
 (14,),
 (45,),
 (27,),
 (None,),
 (52,),
 (None,),
 (50,),
 (39,),
 (42,),
 (30,),
 (48,),
 (43,),
 (None,),
 (41,),
 (47,),
 (None,),
 (28,),
 (34,),
 (None,),
 (None,),
 (19,),
 (46,),
 (61,),
 (46,),
 (27,),
 (99,),
 (99,),
 (95,),
 (1,),
 (33,),
 (47,),
 (38,),
 (22,),
 (None,),
 (50,),
 (30,),
 (77,),
 (34,),
 (27,),
 (26,),
 (44,),
 (29,),
 (44,),
 (86,),
 (51,),
 (70,),
 (31,),
 (30,),
 (99,),
 (13,),
 (60,),
 (31,),
 (30,),
 (None,),
 (67,),
 (71,),
 (36,),
 (42,),
 (44,),
 (60,),
 (31,),
 (53,),
 (None,),
 (51,),
 (29,),
 (20,),
 (35,),
 (34,),
 (11,),
 (49,),
 (23,),
 (38,),
 (37,),
 (30,),
 (46,),
 (27,),
 (87,),
 (46,),
 (48,),
 (None,),
 (60,),
 (86,),
 (44,),
 (16,),
 (None,),
 (72,),
 (70,),
 (14,),
 (65,),
 (28,),
 (61,),
 (59,),
 (49,),
 (61,),
 (76,),
 (33,),
 (None,),
 (43,),
 (59,),
 (39,),
 (53,),
 (25,),
 (58,),
 (46,),
 (23,),
 (74,),
 (6,),
 (44,),
 (49,),
 (35,),
 (43,),
 (64,),
 (26,),
 (42,),
 (64,),
 (78,),
 (35,),
 (28,),
 (28,),
 (68,),
 (92,),
 (29,),
 (58,),
 (43,),
 (38,),
 (None,),
 (41,),
 (33,),
 (45,),
 (None,),
 (64,),
 (31,),
 (65,),
 (28,),
 (42,),
 (29,),
 (64,),
 (49,),
 (31,),
 (58,),
 (67,),
 (39,),
 (34,),
 (57,),
 (44,),
 (17,),
 (None,),
 (63,),
 (57,),
 (55,),
 (71,),
 (99,),
 (99,),
 (22,),
 (39,),
 (45,),
 (32,),
 (83,),
 (30,),
 (39,),
 (38,),
 (None,),
 (49,),
 (67,),
 (56,),
 (42,),
 (63,),
 (44,),
 (35,),
 (None,),
 (38,),
 (75,),
 (60,),
 (35,),
 (59,),
 (80,),
 (52,),
 (50,),
 (87,),
 (74,),
 (32,),
 (32,),
 (42,),
 (13,),
 (53,),
 (42,),
 (65,),
 (51,),
 (51,),
 (44,),
 (33,),
 (64,),
 (74,),
 (95,),
 (None,),
 (72,),
 (51,),
 (None,),
 (44,),
 (37,),
 (60,),
 (75,),
 (48,),
 (66,),
 (56,),
 (26,),
 (None,),
 (60,),
 (45,),
 (71,),
 (44,),
 (61,),
 (57,),
 (None,),
 (50,),
 (32,),
 (57,),
 (36,),
 (58,),
 (43,),
 (37,),
 (33,),
 (62,),
 (50,),
 (None,),
 (67,),
 (67,),
 (31,),
 (76,),
 (32,),
 (63,),
 (64,),
 (28,),
 (99,),
 (66,),
 (54,),
 (None,),
 (None,),
 (None,),
 (33,),
 (79,),
 (21,),
 (65,),
 (42,),
 (45,),
 (56,),
 (57,),
 (53,),
 (None,),
 (42,),
 (58,),
 (50,),
 (40,),
 (5,),
 (37,),
 (59,),
 (56,),
 (38,),
 (63,),
 (41,),
 (45,),
 (50,),
 (54,),
 (60,),
 (43,),
 (41,),
 (74,),
 (87,),
 (67,),
 (15,),
 (43,),
 (40,),
 (54,),
 (99,),
 (None,),
 (62,),
 (55,),
 (57,),
 (53,),
 (50,),
 (37,),
 (49,),
 (27,),
 (22,),
 (35,),
 (63,),
 (None,),
 (15,),
 (30,),
 (64,),
 (57,),
 (40,),
 (53,),
 (28,),
 (84,),
 (31,),
 (48,),
 (31,),
 (None,),
 (55,),
 (48,),
 (49,),
 (43,),
 (67,),
 (52,),
 (50,),
 (None,),
 (17,),
 (55,),
 (48,),
 (48,),
 (36,),
 (67,),
 (42,),
 (67,),
 (99,),
 (28,),
 (99,),
 (34,),
 (99,),
 (56,),
 (70,),
 (30,),
 (21,),
 (99,),
 (55,),
 (None,),
 (18,),
 (35,),
 (67,),
 (None,),
 (28,),
 (None,),
 (45,),
 (51,),
 (29,),
 (36,),
 (29,),
 (28,),
 (46,),
 (60,),
 (None,),
 (81,),
 (36,),
 (66,),
 (33,),
 (53,),
 (43,),
 (62,),
 (68,),
 (38,),
 (None,),
 (46,),
 (90,),
 (48,),
 (59,),
 (29,),
 (44,),
 (43,),
 (42,),
 (51,),
 (68,),
 (37,),
 (46,),
 (63,),
 (19,),
 (79,),
 (66,),
 (48,),
 (44,),
 (55,),
 (30,),
 (31,),
 (31,),
 (36,),
 (37,),
 (52,),
 (64,),
 (64,),
 (55,),
 (34,),
 (99,),
 (35,),
 (None,),
 (57,),
 (30,),
 (35,),
 (None,),
 (None,),
 (17,),
 (84,),
 (None,),
 (None,),
 (35,),
 (70,),
 (99,),
 (39,),
 (72,),
 (58,),
 (78,),
 (None,),
 (99,),
 (48,),
 (45,),
 (42,),
 (41,),
 (42,),
 (46,),
 (91,),
 (33,),
 (34,),
 (72,),
 (67,),
 (None,),
 (85,),
 (36,),
 (39,),
 (56,),
 (50,),
 (None,),
 (50,),
 (62,),
 (42,),
 (None,),
 (71,),
 (98,),
 (25,),
 (29,),
 (None,),
 (55,),
 (43,),
 (51,),
 (32,),
 (None,),
 (22,),
 (29,),
 (23,),
 (67,),
 (95,),
 (99,),
 (69,),
 (18,),
 (49,),
 (None,),
 (70,),
 (48,),
 (47,),
 (67,),
 (56,),
 (None,),
 (36,),
 (47,),
 (61,),
 (90,),
 (69,),
 (34,),
 (40,),
 (20,),
 (52,),
 (64,),
 (92,),
 (27,),
 (78,),
 (57,),
 (52,),
 (22,),
 (None,),
 (49,),
 (32,),
 (13,),
 (41,),
 (70,),
 (51,)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [15]:
%%sql
select community_area_name ,percent_households_below_poverty from CENSUS_DATA
order by percent_households_below_poverty desc limit 5

 * ibm_db_sa://qzg26937:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb;security=SSL;
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [16]:
%%sql
select community_area_number ,count(*) as frequency from CHICAGO_CRIME_DATA
group by community_area_number order by frequency desc limit 1

 * ibm_db_sa://qzg26937:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb;security=SSL;
Done.

[(25, 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [17]:
%%sql
select community_area_name from CENSUS_DATA where hardship_index = (select max(hardship_index) from CENSUS_DATA)

 * ibm_db_sa://qzg26937:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb;security=SSL;
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [18]:
%%sql
select community_area_name from CENSUS_DATA where community_area_number = (
select community_area_number from CHICAGO_CRIME_DATA
where community_area_number = 25 limit 1)

 * ibm_db_sa://qzg26937:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/bludb;security=SSL;
Done.

[('Austin',)]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2021-11-17 | 2.6     | Lakshmi           | Updated library                                |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>